<!-- <app-user></app-user> -->
<!-- <router-outlet />
 -->
<div>
  <h1>¿Que me parece Angular?</h1>
  <article>
    <p>
      With Angular, you're taking advantage of a platform that can scale from single-developer projects to enterprise-level applications.
      Best of all, the Angular ecosystem consists of a diverse group of over 1.7 million developers, library authors, and content creators.
    </p>
    <p>
      Components are the fundamental building block for creating applications in Angular. By leveraging component architecture, Angular aims to provide structure for organizing your project into manageable,
      well organized parts with clear responsibilities so that your code is maintainable and scalable.
    </p>
  </article>
  @defer {
    <app-comments></app-comments>
  } @loading { <!-- poner un elemento para el futuro o en un hueco -->
    <p>Cargando Comentarios..........</p>
  }
</div>
